<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948395949484-qegfsctt766erdol0h56husvdv6bnj0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948395949484-qegfsctt766erdol0h56husvdv6bnj0j</string>
	<key>API_KEY</key>
	<string>AIzaSyCRw9e08AqDRn8LlMLIVer0r5CC_yg2dC4</string>
	<key>GCM_SENDER_ID</key>
	<string>948395949484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayberkmogol.NewsApp-Viper</string>
	<key>PROJECT_ID</key>
	<string>newsapp-7aa05</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-7aa05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948395949484:ios:873648faa8f20fff618e09</string>
</dict>
</plist>